html, body, #root, .container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .main-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /*background-color: #fff;*/
    width: 100%;
    height: 100%;
    border: 1px solid rebeccapurple;
  }
  
  .app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .app-content button {
    /*all: unset; */
    cursor: pointer;
   /* display: inline-flex;*/
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    margin: 1px;
    border-radius: 4px;
   /* background-color: #512da8;*/
    /*color: #fff;*/
    transition: background-color 0.3s ease;
  }
  
.app-content button:hover {
    background-color: #c4ccf9;
    color: #512da8;
  }
  
  .main-content input{
    background-color: #d6deeb;
    margin: 0px;
    
  }